:root {
        --cor-de-fundo:#d3d3d3;
        --cor-de-cabecalho: #ffffff;
        --fundo-menu: #ffffff;
}

body {
        background-color: var(--cor-de-fundo);
        text-align: center;
}
.cabecalho{
        background-color: var(--cor-de-cabecalho);
}

.cabecalho-titulo {
        font-size: 36px;
        font-weight: 700;
        padding: 12px;
        text-align: center;
}
.cabecalho-menu-item{
        display: block;
        padding: 10px;
        font-size: 24px;
        text-decoration: none;
        color: #000000;
        text-align: center;
        border-top: 1px solid;
}

.paragrafo{
        font-size: 30px;
        color: #000000;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.turma{
        text-align: left;
}